[Unit]
Description=GPIO kodi button
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=sudo
ExecStart=/usr/bin/python3 /usr/local/bin/kodi_button.py

[Install]
WantedBy=multi-user.target
